.toDoFormContainer {
  margin-bottom: 30px;
}

.toDoFormContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDoFormContainer input {
  width: 45%;
  height: 30px;
  font-size: 20px;
}

.toDoFormContainer button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  background-color: beige;
  font-size: 24px;
}

.toDoFormContainer button:hover {
  background-color: rgb(240, 240, 155);
}

.toDoFormContainer input,
.toDoFormContainer button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}